@import url("./assets/MainHeader.css");
@import url("./assets/Button.css");
@import url("./assets/Product.css");
@import url("./assets/Footer.css");
@import url("./assets/Nav.css");

@font-face {
  font-family: Tenor;
  src: "./assets/TenorSans-Regular.ttf";
}

#root{
  background-color: #E9CBB1;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #E9CBB1;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* font-size: calc(30px); */
  color: #8A745F;
}

.App-catchy-phrase{
  color: #f8f9fa;
  font-style: italic;
}

.App-catchy-phrase, .App-p{
  font-size: 2em;
}

h1{
  color:#8A745F; 
  font-family: "Tenor"; 
  letter-spacing: 12px;
  font-size: 10em;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
